@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



 body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
 }

 .menu a {
    font-size: 20px;
  }
  
  .logo img {
    width: 300px;
  }
  
  .callNav img {
    width: 50px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .leftNav {
    display: flex;
    align-items: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: #ffcd00;;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 13vh;
    padding: 1em;
  }
  
  .menu {
    width: 70%;
    justify-content: end;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    transition: 0.5s;
  }

  .menu li:hover {
    transform: scale(1.3);
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

/* ---------------------------------------------------- */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sushi {
    background: url(./media/leftsushi.png)center/cover;
    width: 400px;
    height: 400px;
}

.pizza {
    background: url(./media/rightpizza.png)center/cover;
    width: 400px;
    height: 400px;
}

.swiper {
    margin: 50px 0;
    width: 30%;
    height: 75vh;
    box-shadow: 0px 0px 10px black;
    border-radius: 15px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
  }

  .btn {
    width: 200px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 30px auto;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
    background: #ffcd00;
    text-align: center;
    padding: 10px 0;
}

.btn:hover {
    transform: scale(1.1);
}
 
.btn a {
    text-decoration: none;
    color: #000000;
}

/* ----------------------------------------------------- */

.footerCards {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    height: 15vh;
    background-color: #ffcd00;
}

.footerCard {
    width: 20%;

}

.adresBlock {
    width: 40%;
}

.adres {
    display: flex;
    justify-content: space-around;
}

.footerCard h3 {
    text-align: center;
    margin: 15px 0 10px 0;
    font-size: 15px;
}

.footerCard p {
    text-align: center;
    margin: 5px 0px;
    font-size: 13px;
}

.footerCard a {
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    transform: 0.5s;
}

.footerCard a:hover {
    font-weight: bold;
}

.social {
    display: flex;
    justify-content: space-around;
}

.socialBlock {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialBlock img {
    width: 20px;
}

.mapText {
    font-size: 15px;
    margin-top: 0px;
}

/* --------------------1440px---Ноутбук L------------------- */
@media (max-width: 1440px) {

}

/* --------------------1024px---Ноутбук------------------- */
@media (max-width: 1024px) {
    /* ---------------------- */
    .logo img {
        width: 200px;
    }

    .menu a {
        font-size: 15px;
    }

    .callNav img {
        width: 40px;
    }
    /* }------------------------ */
    
    .swiper-slide img {
        width: 100%;
        height: 100%;
      }

    .sushi {
        width: 300px;
        height: 300px;
    }

    .pizza {
        width: 300px;
        height: 300px;
    }

    .swiper {
        width: 40%;
        height: 75vh;
      }

    /* ------------------------ */
    .footerCards h3 {
        font-size: 15px;
    }

    .footerCards p {
        font-size: 12px;
    }

    .footerCards a {
        font-size: 12px;
    }

}
/* ---------------------------768------------ */
@media (max-width: 768px) {
    /* -------------------- */
    .top-nav {
        width: 100%;
    }

    .logo img {
        width: 150px;
    }
    
    .menu a {
        font-size: 10px;
    }

    /* ---------------------------- */

    .swiper {
        width: 50%;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
      }

    .pizza {
        display: none;
    }

    .sushi {
        display: none;
    }

    /* ---------------------------- */

    .footerCard h3 {
        font-size: 10px;
        margin: 7px 0 7px 0;
    }

    .footerCard p {
        font-size: 8px;
    }

    .footerCard a {
        font-size: 8px;
    }

    .socialBlock img {
        width: 15px;
    }

}
/* ------------------------426---------------------- */

@media (max-width: 426px) {

    .menu-button-container {
        display: flex;
      }
    
      .top-nav {
        height: 50px;
      }
    
      .menu a {
        color: white;
        font-size: 15px;
      }
    
      .logo img {
        width: 150px;
      }
    
      .callNav img {
        width: 40px;
      }
    
      .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 9999;
      }
      #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
      }
      .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
      }

      /* --------------------------- */

      .swiper-slide img {
        width: 400px;
        height: 100%;
      }

      .swiper {
        width: 90%;
        height: 70vh;
        margin-top: 20px;
      }

      .sushi {
        display: none;
      }

      .pizza {
        display: none;
      }

      

      /* --------------------------- */

      .footerCards {
        flex-direction: column;
        margin: 0 auto;
        height: 30vh;
        align-items: center;
        justify-content: start;
    }

    .footerCard {
        width: 100%;
    }

    .social {
        justify-content: center;
    }
}