@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

nav {
    width: 100%;
    height: 12vh;
    background-color: #ffcd00;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navContent {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.logoNav {
    display: flex;
    align-items: center;
}

.logoNav img {
    width: 300px;
    margin-top: 10px;
}

.menuNav {
    display: flex;
}

.menuNav ol {
    display: flex;
    list-style: none;
}

.menuNav a {
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s;
}

.menuNav a:hover {
    transform: scale(1.3);
}

.menuNav ol li {
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px;
    text-decoration: none;
    color: black;
}

.callNav img {
    width: 50px;
    transition: 0.5s;
}

.callNav img:hover {
    transform: scale(1.01);
}
/* -------------------------------------------- */
.about {
    width: 95%;
    height: 80vh;
    background-color: #ffcd00;
    border-radius: 15px;
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 1px 1px 20px rgb(128, 127, 127);
}

.aboutLeft {
    width: 40%;
    height: 75vh;
    border-radius: 10px;
    background: url(./media/main4.jpg) center/cover;
    box-shadow: 1px 1px 20px rgb(128, 127, 127);
}

.aboutRight {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutRight h2 {
    text-align: center;
}

.aboutRight img {
    width: 400px;
}
/* ------------------------------------------- */
.storeContent {
    margin: 100px 0;
}

.storeText h2 {
    text-align: center;
    font-size: 50px;
}

.storeCards {
    display: flex;
    margin: 100px auto 0 auto;
    width: 70%;
}

.card {
    width: 30%;
    height: 400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.card h3 {
    text-align: center;
    font-size: 30px;
}

.cardImg1 {
    background: url(./media/corndog.jpeg) center/cover;
    width: 100%;
    height: 70%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgb(128, 127, 127);
    transition: 1s;
}


.cardImg1:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 20px rgb(128, 127, 127);
}

.cardImg2 {
    background: url(./media/ramen.jpg) center/cover;
    width: 100%;
    height: 70%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgb(128, 127, 127);
    transition: 1s;
}

.cardImg2:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 20px rgb(128, 127, 127);
}

.cardImg3 {
    background: url(./media/pizza.jpg) center/cover;
    width: 100%;
    height: 70%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgb(128, 127, 127);
    transition: 1s;
}

.cardImg3:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 20px rgb(128, 127, 127);
}

.storeButton {
    display: flex;
    justify-content: center;
}

.storeButton a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    background-color: white;
    padding: 10px 50px ;
    border-radius: 15px;
    font-weight: bold;
    border: 1px solid black;
    transition: 0.3s;
    font-size: 20px;
}

.storeButton a:hover {
    background-color: rgba(255, 205, 0, 1);
    color: white;
    border: 1px solid white;
}

/* --------------------------------------------------------- */

.black {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #ffcd00;
}

.black h3 {
    margin: 0 50px;
    font-size: 50px;
}

.red {
    color: red;
}

.black img {
    width: 300px;
}

/* ----------------------------------------------------------- */

.bgr {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    z-index: 999;
    gap: 1px;
}

.bgr1 {
    width: 100%;
    height: 500px;
    background: url(./media/sushi\ 2.jpg) center/cover fixed;
    grid-column: 1/5;
}

.bgr2 {
    width: 100%;
    height: 300px;
    background: url(./media/sushi\ 1.jpg) center/cover;
    grid-column: 1/2;
}

.bgr3 {
    width: 100%;
    height: 300px;
    background: url(./media/sushi\ 3.jpg) center/cover;
    grid-column: 2/4;
}

.bgr4 {
    width: 100%;
    height: 300px;
    background: url(./media/sushi\ 5.jpg) center/cover;
    grid-column: 4/5;
}

.bgr5 {
    width: 100%;
    height: 500px;
    background: url(./media/sushi\ 2.jpg) center/cover fixed;
    grid-column: 1/5;
}

.bgr6 {
    width: 100%;
    height: 300px;
    background: url(./media/sushi\ 4.jpg) center/cover;
    grid-column: 1/3;
}

.bgr7 {
    width: 100%;
    height: 300px;
    background: url(./media/sushi\ 6.jpg) center/cover;
    grid-column: 3/5;
}

.bgr8 {
    width: 100%;
    height: 500px;
    background: url(./media/sushi\ 9.jpg) center/cover fixed;
    grid-column: 1/5;
}

.bgr9 {
    width: 100%;
    height: 300px;
    background: url(./media/sushi\ 7.jpg) center/cover;
    grid-column: 1/3;
}

.bgr10 {
    width: 100%;
    height: 300px;
    background: url(./media/sushi\ 8.jpg) center/cover;
    grid-column: 3/5;
}

.bgr11 {
    width: 100%;
    height: 500px;
    background: url(./media/sushi\ 9.jpg) center/cover fixed;
    grid-column: 1/5;
}

.bgr12 {
    width: 100%;
    height: 300px;
    background: url(./media/sushi\ 10.jpg) center/cover;
    grid-column: 1/2;
}

.bgr13 {
    width: 100%;
    height: 300px;
    background: url(./media/sushi\ 11.jpg) center/cover;
    grid-column: 2/4;
}

.bgr14 {
    width: 100%;
    height: 300px;
    background: url(./media/sushi\ 12.jpg) center/cover;
    grid-column: 4/5;
}
/* --------------------------------------------------- */
.map {
    width: 95%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffcd00;
    border-radius: 15px;
    margin: 50px auto 15px;
    box-shadow: 1px 1px 20px rgb(128, 127, 127);
}

.mapLeft {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}

.mapRight {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}

.mapRight iframe {
    width: 100%;
    height: 80%;
}
/* ------------------------------------------------------------------- */

.bgrPizza {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    z-index: 99;
    gap: 1px;
}

.pizza1 {
    width: 100%;
    height: 500px;
    background: url(./media/pizza\ 11.jpg) center/cover fixed;
    grid-column: 1/5;
}

.pizza2 {
    width: 100%;
    height: 300px;
    background: url(./media/pizza\ 1.jpg) center/cover;
    grid-column: 1/2;
}

.pizza3 {
    width: 100%;
    height: 300px;
    background: url(./media/pizza\ 10.jpg) center/cover;
    grid-column: 2/4;
}

.pizza4 {
    width: 100%;
    height: 300px;
    background: url(./media/pizza\ 9.jpg) center/cover;
    grid-column: 4/5;
}

.pizza5 {
    width: 100%;
    height: 500px;
    background: url(./media/pizza\ 11.jpg) center/cover fixed;
    grid-column: 1/5;
}

.pizza6 {
    width: 100%;
    height: 300px;
    background: url(./media/pizza\ 15.jpg) center/cover;
    grid-column: 1/3;
}

.pizza7 {
    width: 100%;
    height: 300px;
    background: url(./media/pizza\ 14.jpg) center/cover;
    grid-column: 3/5;
}

.pizza8 {
    width: 100%;
    height: 500px;
    background: url(./media/pizza\ 2.jpg) center/cover fixed;
    grid-column: 1/5;
}

.pizza9 {
    width: 100%;
    height: 300px;
    background: url(./media/pizza\ 13.jpg) center/cover;
    grid-column: 1/3;
}

.pizza10 {
    width: 100%;
    height: 300px;
    background: url(./media/pizza\ 12.jpg) center/cover;
    grid-column: 3/5;
}

.pizza11 {
    width: 100%;
    height: 500px;
    background: url(./media/pizza\ 2.jpg) center/cover fixed;
    grid-column: 1/5;
}

.pizza12 {
    width: 100%;
    height: 300px;
    background: url(./media/pizza\ 7.jpg) center/cover;
    grid-column: 1/2;
}

.pizza13 {
    width: 100%;
    height: 300px;
    background: url(./media/pizza\ 5.jpg) center/cover;
    grid-column: 2/4;
}

.pizza14 {
    width: 100%;
    height: 300px;
    background: url(./media/pizza\ 4.jpg) center/cover;
    grid-column: 4/5;
}

/* ------------------------------------------------------------------------ */
.other {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
    margin: 100px auto;
}

.otherLeft {
    background: url(./media/main2.jpg) center/cover;
    width: 40%;
    height: 100%;
    box-shadow: 1px 1px 20px rgb(128, 127, 127);
    padding: 0 30px;    
    border-radius: 15px;
}

.otherRight {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}

.otherRight h2 {
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 20px rgb(128, 127, 127) ;
}

/* ------------------------------------------------------------------- */

.deliverBlock {
    width: 100%;
    height: 100vh;
    background: url(./media/bgr.jpg) center/cover fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 99;
}

.deliverBlock h2 {
    color: #ffffff;
    text-align: center;
    font-size: 100px;
    text-shadow: 0px 0px 10px #000000;
}

.deliverBlock h3 {
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    text-shadow: 0px 0px 10px #000000;
    margin: 0;
}

.deliverButton {
    display: flex;
    justify-content: center;
}

.deliverButton a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(255, 205, 0, 0.1);
    padding: 10px 50px ;
    border-radius: 15px;
    font-weight: bold;
    border: 1px solid white;
    transition: 0.3s;
    text-shadow: 0px 0px 10px black;
    font-size: 20px;
    text-align: center;
}

.deliverButton a:hover {
    background-color: rgba(255, 205, 0, 0.6);
    color: #000000;
    text-shadow: none;
    border: 1px solid black;
}

/* ---------------------------------------------------- */

.footerCards {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    height: 15vh;
    background-color: #ffcd00;
}

.footerCard {
    width: 20%;

}

.adresBlock {
    width: 40%;
}

.adres {
    display: flex;
    justify-content: space-around;
}

.footerCard h3 {
    text-align: center;
    margin: 15px 0 10px 0;
    font-size: 15px;
}

.footerCard p {
    text-align: center;
    margin: 5px 0px;
    font-size: 13px;
}

.footerCard a {
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    transform: 0.5s;
}

.footerCard a:hover {
    font-weight: bold;
}

.social {
    display: flex;
    justify-content: space-around;
}

.socialBlock {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialBlock img {
    width: 20px;
}

.mapText {
    font-size: 15px;
    margin-top: 0px;
}
/* --------------------1440px---Ноутбук L------------------- */
@media (max-width: 1440px) {

}

/* --------------------1024px---Ноутбук------------------- */
@media (max-width: 1024px) {
    /* ---------------------- */
    .logoNav img {
        width: 200px;
        margin-top: 10px;
    }

    .menuNav a {
        font-size: 15px;
    }

    .callNav img {
        width: 40px;
    }

    /* ------------------------- */

    .storeContent {
        margin: 60px 0;
    }

    .storeText h2 {
        font-size: 40px;
    }

    .storeCards {
        margin-top: 60px;
    }

    .card {
        height: 300px;
    }

    /* --------------------- */

    .black h3 {
        font-size: 30px;
    }

    .black img {
        width: 200px;
    }
    /* ------------------- */

    .otherRight h2 {
        font-size: 30px;
    }

    /* ------------------- */

    .bgr1 {
        height: 400px;
    }
    
    .bgr2 {
        height: 200px;
    }
    
    .bgr3 {
        height: 200px;
    }
    
    .bgr4 {
        height: 200px;
    }
    
    .bgr5 {
        height: 400px;
    }
    
    .bgr6 {
        height: 200px;
    }
    
    .bgr7 {
        height: 200px;
    }
    
    .bgr8 {
        height: 400px;
    }
    
    .bgr9 {
        height: 200px;
    }
    
    .bgr10 {
        height: 200px;
    }
    
    .bgr11 {
        height: 400px;
    }
    
    .bgr12 {
        height: 200px;
    }
    
    .bgr13 {
        height: 200px;
    }
    
    .bgr14 {
        height: 200px;
    }

    /* --------------------- */

    .pizza1 {
        height: 400px;
    }
    
    .pizza2 {
        height: 200px;
    }
    
    .pizza3 {
        height: 200px;
    }
    
    .pizza4 {
        height: 200px;
    }
    
    .pizza5 {
        height: 400px;
    }
    
    .pizza6 {
        height: 200px;
    }
    
    .pizza7 {
        height: 200px;
    }
    
    .pizza8 {
        height: 400px;
    }
    
    .pizza9 {
        height: 200px;
    }
    
    .pizza10 {
        height: 200px;
    }
    
    .pizza11 {
        height: 350px;
    }
    
    .pizza12 {
        height: 200px;
    }
    
    .pizza13 {
        height: 200px
    }
    
    .pizza14 {
        height: 200px;
    }

    /* ------------------- */
}

/* --------------------768px---Планшет------------------- */
@media (max-width: 768px) {
    /* -------------------- */
    .logoNav img {
        width: 180px;
    }

    .menuNav a {
        font-size: 12px;
    }

    .menuNav ol li {
        padding: 0 10px;
    }

    .callNav img {
        width: 30px;
    }

/* ----------------------- */
    .aboutRight img {
        width: 200px;
    }

    .aboutRight h2 {
        font-size: 20px;
    }

    .aboutRight p {
        font-size: 12px;
    }

    /* ---------------------- */

    .storeContent {
        margin: 40px 0;
    }

    .storeText h2 {
        font-size: 30px;
        margin: 20px 0;
    }

    .storeCards {
        margin: 40px auto 0 auto;
    }

    .card {
        height: 200px;
    }
    
    .card h3 {
        font-size: 17px;
    }

    .storeButton a {
        padding: 7px 20px ;
        border-radius: 7px;
        font-size: 15px;
    }

    /* ------------------------ */

    .black {
        height: 50px;
    }

    .black h3 {
        font-size: 25px;
    }

    .black img {
        width: 150px;
    }

    /* ------------------- */

    .bgr1 {
        height: 200px;
    }
    
    .bgr2 {
        height: 150px;
    }
    
    .bgr3 {
        height: 150px
    }
    
    .bgr4 {
        height: 150px;
    }
    
    .bgr5 {
        height: 200px;
    }
    
    .bgr6 {
        height: 150px;
    }
    
    .bgr7 {
        height: 150px;
    }
    
    .bgr8 {
        height: 200px;
    }
    
    .bgr9 {
        height: 150px;
    }
    
    .bgr10 {
        height: 150px;
    }
    
    .bgr11 {
        height: 200px;
    }
    
    .bgr12 {
        height: 150px;
    }
    
    .bgr13 {
        height: 150px;
    }
    
    .bgr14 {
        height: 150px;
    }

    /* ------------------------------ */

    .otherRight h2 {
        font-size: 25px;
    }

    /* ---------------------------- */

    .pizza1 {
        height: 200px;
    }
    
    .pizza2 {
        height: 150px;
    }
    
    .pizza3 {
        height: 150px;
    }
    
    .pizza4 {
        height: 150px;
    }
    
    .pizza5 {
        height: 200px;
    }
    
    .pizza6 {
        height: 150px;
    }
    
    .pizza7 {
        height: 150px;
    }
    
    .pizza8 {
        height: 200px;
    }
    
    .pizza9 {
        height: 150px;
    }
    
    .pizza10 {
        height: 150px;
    }
    
    .pizza11 {
        height: 200px;
    }
    
    .pizza12 {
        height: 150px;
    }
    
    .pizza13 {
        height: 150px;
    }
    
    .pizza14 {
        height: 150px;
    }

    /* ---------------------- */

    .mapLeft h2 {
        font-size: 20px;
    }

    .mapLeft p {
        font-size: 13px;
    }

    /* --------------------- */

    .deliverBlock h3 {
        font-size: 25px;
    }

    .deliverBlock h2 {
        font-size: 50px;
    }

    .deliverButton a {
        font-size: 15px;
        padding: 7px 30px;
        border-radius: 9px;
    }

    /* -------------------- */

    .footerCard h3 {
        font-size: 10px;
        margin: 7px 0 7px 0;
    }

    .footerCard p {
        font-size: 8px;
    }

    .footerCard a {
        font-size: 8px;
    }

    .socialBlock img {
        width: 15px;
    }

}

/* ----------426px----Большое мобильное устройство-------------- */
@media (max-width: 426px) {

    nav {
        height: 8vh;
    }

    .logoNav img {
        width: 100px;
    }

    .menuNav a {
        font-size: 10px;
    }

    .menuNav ol li {
        padding: 0 5px;
    }

    .callNav {
        display: flex;
        align-items: center;
    }

    .callNav img {
        width: 20px;
    }

    .menuNav ol {
        padding-left: 0px;
    }

    /* ----------------- */
    
    .about {
        width: 97%;
        height: 40vh;
        margin: 15px auto;
    }

    .aboutLeft {
        width: 40%;
        height: 36vh;
        border-radius: 7px;
    }

    .aboutRight h2 {
        font-size: 15px;
        margin: 10px 0;
    }

    .aboutRight img {
        width: 100px;
    }

    .aboutRight p {
        font-size: 10px;
    }

    /* -------------------- */

    .storeContent {
        margin: 10px 0;
    }

    .card {
        height: 100px;
    }

    .card h3 {
        font-size: 15px;
    }

    .storeText h2 {
        font-size: 20px;
    }

    .storeCards {
        margin: 10px auto 0 auto;
    }

    .storeButton a {
        font-size: 13px;
        padding: 3px 20px ;
        border-radius: 7px;
    }

    .black {
        height: 40px;
    }

    .black h3 {
        margin: 0 20px;
        font-size: 15px;
    }

    .black img {
        width: 100px;
    }
    /* ---------------- */
    
    .bgr1 {
        height: 150px;
    }
    
    .bgr2 {
        height: 100px;
    }
    
    .bgr3 {
        height: 100px;
    }
    
    .bgr4 {
        height: 100px;
    }
    
    .bgr5 {
        height: 150px;
    }
    
    .bgr6 {
        height: 100px;
    }
    
    .bgr7 {
        height: 100px;
    }
    
    .bgr8 {
        height: 150px;
    }
    
    .bgr9 {
        height: 100px;
    }
    
    .bgr10 {
        height: 100px;
    }
    
    .bgr11 {
        height: 150px;
    }
    
    .bgr12 {
        height: 100px;
    }
    
    .bgr13 {
        height: 100px;
    }
    
    .bgr14 {
        height: 100px;
    }

    /* ---------------- */

    .other {
        height: 40vh;
        margin: 20px 10px;
    }

    .otherRight h2 {
        font-size: 15px;
    }
    /* ---------------- */

    .map {
        height: 40vh;
    }

    .map h2 {
        font-size: 15px;
    }

    .map p {
        font-size: 10px;
    }
    

}

/* ----------375px----Среднее мобильное устройство-------------- */
@media (max-width: 375px) {

}