@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body {
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.menu li {
  transition: 0.5s;
}

.menu li:hover {
  transform: scale(1.3);
}


.menu li a {
  font-size: 20px;
  transition: 0.5s;
}

.menu li a:hover {
  transform: scale(1.3);
}

.logo img {
  width: 300px;
}

.callNav img {
  width: 50px;
}

a {
  text-decoration: none;
  color: black;
}

.leftNav {
  display: flex;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: #ffcd00;;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 13vh;
  padding: 1em;
}

.menu {
  width: 70%;
  justify-content: end;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}


/* Наши новинки */

.storeContent {
  margin: 10px 30px 150px;
  padding: 50px;
  background-color: rgb(248, 252, 255);
  border-radius: 30px;
}
.storeContent h1{
  text-align: center;
  font-size: 50px; 
}
.storeContent h3{
  text-align: center;
 font-size: 20px;
}


.storeCards {
  display: flex;
  margin: 100px auto 0 auto;
  width: 100%;
}
.card {
  width: 30%;
  height: 400px;
  margin: 0 auto;
  padding: 0px 10px;
  
}

.card img {
  width: 100%;
  height: 300px;  
  border-radius: 20px;
}

.storeCards img:hover{
  transform: scale(1.1);
}
.storeContent h3:hover{
  color: red;
}

.ButtonBlock {
  display: flex;
  justify-content: center;
}


/* ******БЛЮДО***** */
.MenuBlock {
  margin: 50px 40px; 
}
  
.mainBlock{
  background:url("./imgMenu/горячие1.jpg") center / cover;
  border-radius: 30px;
  align-items: center; 
  justify-content: space-between;
  display:flex;
  margin: 30px 0px 30px;
  border:1px solid rgb(117, 116, 116); 
  padding: 220px 0px;
}


.mainBlockText {
  background-color: rgba(255, 255, 255, 0.2);
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: 30px;
  border-radius: 30px;
  padding: 20px;
    
}

.mainBlockText p{
  font-size: 18px;
}

.mainBlockText h1{
  text-shadow: 0px 0px rgb(155, 153, 153);
  font-size: 40px;
}



/* пицца */

.PizzaBlock{
  background:url("./imgMenu/pizzamain.jpg") center / cover;
  border-radius: 30px;
  align-items: center; 
  justify-content: space-between;
  display:flex;
  margin: 150px 0px 30px;
  border:1px solid rgb(128, 127, 127); 
  padding: 220px 0px;
}


.PizzaBlockText {
  background-color: rgba(255, 255, 255, 0.4);
  width: 30%;
  text-align: center;
  margin-left: 50px;
  margin-right: auto;
  border-radius: 30px;
  padding: 20px;  
  font-size: 20px;
  
}




/************* роллы************* */


.SUSHIBlock{
  background:url("./imgMenu/sushimain.jpg") center / cover;
  border-radius: 30px;
  align-items: center; 
  justify-content: space-between;
  display:flex;
  margin: 150px 0px 30px;
  border:1px solid rgba(252, 252, 252, 0.1); 
  padding: 220px 0px;
  color: black;
}


/*******напитки*********** */

.drinkBlock{
  background:url("./imgMenu/напитки\ main.jpg") center / cover;
  border-radius: 30px;
  align-items: center; 
  justify-content: space-between;
  display:flex;
  margin: 150px 0px 30px;
  border:1px solid rgb(128, 127, 127); 
  padding: 220px 0px;
}
.drinkBlockText{ 
background-color: rgba(238, 238, 238, 0.5);
  width: 25%;
  text-align: center;
  margin-left: 50px;
  margin-right: auto;
  border-radius: 30px;
  padding: 20px;  
  font-size: 18px;
  color: black;
}



/* *******footer**** */

.footerCards {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  height: 18vh;
  background-color: #ffcd00;
}

.footerCard {
  width: 20%;

}

.adresBlock {
  width: 40%;
}

.adres {
  display: flex;
  justify-content: space-around;
}

.footerCard h3 {
  text-align: center;
  margin: 15px 0 10px 0;
  font-size: 15px;
}

.footerCard p {
  text-align: center;
  margin: 5px 0px;
  font-size: 13px;
}

.footerCard a {
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  transform: 0.5s;
}

.footerCard a:hover {
  font-weight: bold;
}

.social {
  display: flex;
  justify-content: space-around;
}

.socialBlock {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialBlock img {
  width: 20px;
}

.mapText {
  font-size: 15px;
  margin-top: 0px;
}

/*********** swiper******** */
.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  
  
}

.swiper-slide {
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 0px;
  border-radius: 15px;
  border:1px solid rgb(202, 202, 202);  
} 

.swiperText {
  font-size: 13px;
  text-align:initial;
  margin-top: 0px;
  /* background-color: rgb(237, 240, 241); */
  width: 400px;
  height: 150px;
  padding: 5px;
  border-radius: 15px;
  justify-content:center;

}

.swiperText p{
  color: rgb(49, 48, 48);
  margin-bottom: 30px;  
}
.swiperText span {
  font-weight: bold;
}

.swiperText h3:hover{
  transition: 0.5s;
  font-size: 20px;
  cursor: pointer;
  color: red;
}
button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(0, 0,0,0);
 
}
button a{
  text-decoration: none;
  color: black;
}
button:hover{
  background-color: #ffcd00;
  transform: scale(1.1);
}





/****** ******Адаптивка *************/

/************** 1024 ******************/

@media (max-width: 1024px)  { 
  .logo img {
    width: 200px;
}

.menu a {
    font-size: 15px;
}

.callNav img {
    width: 40px;
}

  /* новинки */

  .card img {
    width: 100%;
    height: 200px;  
    border-radius: 20px;
  }
  

  /* ******ГОр.БЛЮДО***** */

  .mainBlock{
    background-size: 100%;
    height: 500px;
  }
  .mainBlockText {
    width: 300px;
    height: 250px;
   
  }
  .mainBlockText p{
    font-size: 12px;
  }
  .mainBlockText h1{
    font-size: 20px;
  }


  /* пицца */

  .PizzaBlock{
    background-size: 100%;
    height: 500px;
  }
  .PizzaBlockText{
    width: 300px;
    height: 300px;
  }
  .PizzaBlockText p{
    font-size: 15px;
  }
  .PizzaBlockText h1{
    font-size: 20px;
  }

  /*******напитки*********** */

.drinkBlock{
  background-size: 80%;
  height: 500px;
}
.drinkBlockText{
  width: 300px;
  height: 300px;
}
.drinkBlockText p{
  font-size: 15px;
}
.drinkBlockText h1{
  font-size: 20px;
}

/* swiper */

.swiperText {
 width: 100%;
 font-size: 12px;
}
.swiperText p{
font-size: 10px;
text-align: justify;
}

 





/************** 768 ******************/

@media (max-width: 768px)  { 
.top-nav {
    width: 100%;
}

.logo img {
    width: 120px;
}
.callNav img {
  width: 20px;
}

.menu li a {
    font-size: 15px;
}



  /* новинки */
  .storeContentХ{
    height: 100%;
  }
  
  .card img {
    width: 100%;
    height:100%;
    border-radius: 5px;
  }

  .storeContent h1{
    font-size: 30px;
   padding-bottom: 0px;
  }

  /* ******ГОр.БЛЮДО***** */

  .mainBlock{
    background-size: 100%;
    height: 500px;
  }
  .mainBlockText {
    width: 250px;
    height: 250px;
   
  }
  .mainBlockText p{
    font-size: 11px;
  }
  .mainBlockText h1{
    font-size: 17px;
  }


  /* пицца */

  .PizzaBlock{
    background-size: 100%;
    height: 500px;
  }
  .PizzaBlockText{
    width: 250px;
    height: 250px;
  }
  .PizzaBlockText p{
    font-size: 12px;
  }
  .PizzaBlockText h1{
    font-size: 18px;
  }

  /*******напитки*********** */

.drinkBlock{
  background-size: 80%;
  height: 500px;
}
.drinkBlockText{
  width: 250px;
  height: 250px;
}
.drinkBlockText p{
  font-size: 12px;
}
.drinkBlockText h1{
  font-size: 16px;
}

/* swiper */
.swiper-slide img{
  width: 100%;
  height: 200px;
}
.swiperText {
  font-size: 10px;
}
.swiperText p{
height: 50px;
font-size: 10px;
text-align: justify;
}
/* ****** footer****** */
.footerCard h3 {
  font-size: 10px;
  margin: 7px 0 7px 0;
}

.footerCard p {
  font-size: 8px;
}

.footerCard a {
  font-size: 8px;
}

.socialBlock img {
  width: 15px;
}

}


/************** 426 ******************/

@media (max-width: 426px)  { 
  .menu-button-container {
    display: flex;
  }

  .top-nav {
    height: 6vh;
  }

  .menu a {
    color: white;
  }

  .logo img {
    width: 100px;
  }

  .callNav img {
    width: 15px;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}



    /* новинки */
    .storeContent {
      height: 60%;

    }
    .card img {
      width: 100%;
      height: 100%;  
    }
    .storeText h1{
      padding-bottom: 10px;
      font-size: 5px;
    }
    .storeContent h3{
      font-size: 8px;
    }
    
    .storeContent h1{
      padding-top: 20px;
      padding-bottom: 10px;
      font-size: 15px;
    }
  
    /* ******ГОр.БЛЮДО***** */
  
    .mainBlock {
      background-position:15%;
      background-repeat:no-repeat;
      background-size: cover; 
      
    }

    .mainBlockText {
      margin-right: 10px;
      margin-bottom: 10px;
      width: 180px;
      height: 180px;
      background-color: rgba(255, 255, 255, 0.3);
     
    }
    .mainBlockText p{
      font-size: 8px;
    }
    .mainBlockText h1{
      font-size: 8px;
    }
  
  
    /* пицца */
  
    .PizzaBlock{
      background-position:15%;
      background-repeat:no-repeat;
      background-size: cover;
    }
    .PizzaBlockText{
      width: 120px;
      height: 175px;
      border-radius: 8px;
    }
    .PizzaBlockText p{
      font-size: 7px;
    }
    .PizzaBlockText h1{
      font-size: 10px;
    }
  
    /*******напитки*********** */
  
  .drinkBlock{
    background-position:15%;
    background-repeat:no-repeat;
    background-size: cover;
  }
  .drinkBlockText{
    width: 180px;
    height: 160px;
    margin-left: 5px;
  }
  .drinkBlockText p{
    font-size: 8px;
  }
  .drinkBlockText h1{
    font-size: 9px;
  }
  
  /* swiper */
  .swiper-slide img{
    width: 100%;
    height: 100px;
  }
  .swiperText {
    height: 150px;
  }
  .swiperText p{
  height: 20px;
  font-size: 5px;
  }
  .swiperText h3{
    font-size: 6px; 
  }
  .swiperText span{
    font-size: 6px ;
  }

  button {
    width: 50px;
    height: 15px;
    font-size: 5px;
  }
  button a{
    padding: 5px;
  }
   
  /* ****** footer****** */
  .footerCards {
    flex-direction: column;
    margin: 0 auto;
    height: 38vh;
    align-items: center;
    justify-content: start;
}

.footerCard {
    width: 100%;
}

.social {
    justify-content: center;
}

}